.App-header {
  background-color: #222;
  height: 130px;
  padding: 30px !important;
}

.MainView {
  margin-top: 3em;
  min-height: 100vh;
}
.modalCustom {
  margin: 10% auto !important;
}
.imagesGrid {
  min-height: 117px;
}
.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}
.delete {
  position: absolute;
  top: 4px;
  z-index: 100;
}
